.App {
  text-align: center;
  inset-block: center;
  margin-top: 150px;
}

.film-container {
  margin-top: 200px;
  width: 20rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 8px;
  display: inline-block;
  margin: 0.5rem;
  background-color: beige;
  height:fit-content ;
  
}